@model IEnumerable<Library.Models.SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trang Sách</h2>

<p>
    @Html.ActionLink("Thêm Sách", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CHINHANH.TenCN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAUSACH.TenDS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CHINHANH.TenCN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DAUSACH.TenDS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSach }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSach }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSach })
        </td>
    </tr>
}

</table>
