@model IEnumerable<Library.Models.CHUYENNGANH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trang Chuyên Ngành</h2>

<p>
    @Html.ActionLink("Thêm CN", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenCN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenCN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCN }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCN })
        </td>
    </tr>
}

</table>
